# Data Cleaning :
Data cleaning is an essential step in the data preparation process, and pandas, a popular Python library for data manipulation, provides various tools and functions to help you clean and preprocess your data. Here are some common data cleaning tasks you can perform using pandas:

# Handling Missing Data:

Pandas provides functions like isnull(), notnull(), and fillna() to deal with missing values. You can use these functions to identify missing data and either remove rows or fill in missing values with appropriate values.

# Import Pandas :

In [1]:
import pandas as pd

# Removing Duplicates:

You can remove duplicate rows in a DataFrame using the drop_duplicates() method.

# Changing Data Types:
You can convert data types for columns using the astype() method.

# String Cleaning:
For text data, you can clean and manipulate strings using various string methods in pandas.

# Handling Outliers:
Identify and deal with outliers by filtering or replacing values.

Scaling and Normalization:

You can scale and normalize data to ensure it falls within a specific range.

# Date and Time Handling:

If your dataset contains date and time data, pandas provides functions to parse, extract, and manipulate date and time information.

# Reindexing and Sorting:

You can reindex and sort your DataFrame as needed.

# Importing CSV File  :

In [3]:
pd.read_csv('haberman.csv')

df = pd.read_csv('haberman.csv')

# Null Values Count :

In [4]:
df.isnull()

       age   year  nodes  status
0    False  False  False   False
1    False  False  False   False
2    False  False  False   False
3    False  False  False   False
4    False  False  False   False
..     ...    ...    ...     ...
300  False  False  False   False
301  False  False  False   False
302  False  False  False   False
303  False  False  False   False
304  False  False  False   False

[305 rows x 4 columns]

In [5]:
df.isnull().sum()

age       0
year      0
nodes     0
status    0
dtype: int64

# Data types

In [6]:
df.dtypes

age       int64
year      int64
nodes     int64
status    int64
dtype: object

In [8]:
df.describe()

              age        year       nodes      status
count  305.000000  305.000000  305.000000  305.000000
mean    52.357377   62.868852    4.032787    1.262295
std     10.678010    3.242783    7.200528    0.440605
min     30.000000   58.000000    0.000000    1.000000
25%     44.000000   60.000000    0.000000    1.000000
50%     52.000000   63.000000    1.000000    1.000000
75%     60.000000   66.000000    4.000000    2.000000
max     78.000000   69.000000   52.000000    2.000000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     305 non-null    int64
 1   year    305 non-null    int64
 2   nodes   305 non-null    int64
 3   status  305 non-null    int64
dtypes: int64(4)
memory usage: 9.7 KB

In [11]:
df.columns

Index(['age', 'year', 'nodes', 'status'], dtype='object')

In [17]:
df

     age  year  nodes  status
0     30    64      1       1
1     30    62      3       1
2     30    65      0       1
3     31    59      2       1
4     31    65      4       1
..   ...   ...    ...     ...
300   74    63      0       1
301   75    62      1       1
302   76    67      0       1
303   77    65      3       1
304   78    65      1       2

[305 rows x 4 columns]